<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <div class="alert alert-danger" *ngIf="error">Lo sentimos no fue posible insertar la acción</div>
      </div>
      <h2>{{titulo}}</h2>
      <form [formGroup]="usuario" (ngSubmit)="guardar()">
        <div class="form-group">
          <label>Id usuario</label>
          <input type="text" class="form-control" readonly formControlName="idUsuario" />
        </div>
        <div class="form-group">
          <label>Nombre usuario</label>
          <input type="text" class="form-control" formControlName="nombreUsuario" />
          <div class="text-danger" *ngIf="usuario.controls['nombreUsuario'].errors?.userExist">
            <p>El nombre de usuario ya existe</p>
          </div>
        </div>

        <div class="form-group" *ngIf="mostrar">
          <label>Contraseña</label>
          <input type="password" class="form-control" formControlName="password" required />
        </div>

        <div class="form-group" *ngIf="mostrar">
          <label>Repita contraseña</label>
          <input type="password" class="form-control" formControlName="passwordConfirm" required />
          <div class="text-danger" *ngIf="usuario.controls['passwordConfirm'].errors?.noConfirm">
            <p>Las contraseñas no coinciden</p>
          </div>
        </div>

        <div class="form-group" *ngIf="mostrar">
          <label>Persona</label>
          <select class="form-control" formControlName="idPersona">
            <option value="">--Seleccione--</option>
            <option *ngFor="let persona of personasSinUsuario" [value]="persona.idPersona">{{persona.nombreCompleto}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Tipo de usuario</label>
          <select class="form-control" formControlName="idTipoUsuario">
            <option value="">--Seleccione--</option>
            <option *ngFor="let tipoUsuario of tiposUsuarios" [value]="tipoUsuario.idTipoUsuario">{{tipoUsuario.nombre}}</option>
          </select>
        </div>

        <div class="form-group">
          <input [disabled]="!usuario.valid" type="submit" class="btn btn-primary mr-1" value="Enviar" />
          <button [routerLink]="['/usuarios']" type="button" class="btn btn-danger">Regresar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="m-3">
  <div class="alert alert-danger" *ngIf="!usuario.valid">El formulario aún no es valido</div>
  <div class="alert alert-primary" *ngIf="usuario.valid">El formulario es valido</div>
</div>



